<template>
  <div class="flex flex-col min-h-screen mx-8">
    <div class="flex items-center justify-between py-4 border-b">
      <h1 class="text-2xl">
        My Ideas
      </h1>

      <button
        @click="addingIdea = true"
        class="focus:outline-none"
      >
        <img src="@/assets/add.png">
      </button>
    </div>

    <div class="flex-1 flex flex-col">
      <transition
        enter-active-class="animated fadeIn faster"
        leave-active-class="animated fadeOut faster"
        mode="out-in"
      >
        <div
          class="flex flex-col items-center m-auto"
          v-if="!ready || (!ideas.length && !addingIdea)"
          key="no-ideas"
        >
          <img src="@/assets/bulb.png">
          <span class="mt-2">
            Got Ideas?
          </span>
        </div>

        <div
          v-else
          class="flex flex-col"
          key="ideas"
        >
          <transition
            enter-active-class="animated fadeIn faster"
            :leave-active-class="transitionOnAddingClosedClass"
          >
            <idea
              v-if="addingIdea"
              @adding-closed="handleAddingClosed"
              @ideas-updated="updateIdeas"
            >
            </idea>
          </transition>

          <idea
            class="transition"
            v-for="idea in ideas"
            :key="idea.id"
            :idea="idea"
            @ideas-updated="updateIdeas"
          >
          </idea>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Idea from '@/components/Idea'

export default {
  name: 'MyIdeas',

  components: {
    Idea
  },

  data () {
    return {
      ready: false,
      ideas: [],
      addingIdea: false,
      transitionOnAddingClosed: false
    }
  },

  computed: {
    transitionOnAddingClosedClass () {
      return this.transitionOnAddingClosed ? 'animated fadeOut faster' : ''
    }
  },

  methods: {
    getIdeas (page) {
      const options = page ? { params: { page } } : null
      return axios.get('/ideas', options)
    },

    async updateIdeas () {
      const response = await this.getIdeas()
      this.ideas = response.data
    },

    handleAddingClosed (transition) {
      this.transitionOnAddingClosed = transition
      this.$nextTick(() => {
        this.addingIdea = false
      })
    }
  },

  async mounted () {
    await this.updateIdeas()
    this.ready = true
  }
}
</script>
