<template>
  <div class="flex min-h-screen">
    <div class="flex flex-col m-auto w-1/3">
      <h1 class="text-center text-3xl">
        Sign Up
      </h1>

      <input
        v-model="user.name"
        type="text"
        placeholder="Name"
        class="border-b focus:border-black h-10 my-4 focus:outline-none transition"
        :class="[ errors.has('name') ? 'border-red-500' : 'border-gray-500' ]"
        v-validate="'required'"
        name="name"
      >

      <p
        v-if="errors.has('name')"
        class="text-red-500 italic -mt-2"
      >
        {{ errors.first('name') }}
      </p>

      <input
        v-model="user.email"
        type="email"
        placeholder="Email"
        class="border-b focus:border-black h-10 my-4 focus:outline-none transition"
        :class="[ errors.has('email') ? 'border-red-500' : 'border-gray-500' ]"
        v-validate="'required|email'"
        name="email"
      >

      <p
        v-if="errors.has('email')"
        class="text-red-500 italic -mt-2"
      >
        {{ errors.first('email') }}
      </p>

      <input
        v-model="user.password"
        type="password"
        placeholder="Password"
        class="border-b focus:border-black h-10 my-4 focus:outline-none transition"
        :class="[ errors.has('password') ? 'border-red-500' : 'border-gray-500' ]"
        v-validate="'required'"
        name="password"
      >

      <p
        v-if="errors.has('password')"
        class="text-red-500 italic -mt-2"
      >
        {{ errors.first('password') }}
      </p>

      <p
        v-if="serverErrors"
        class="text-red-500 italic"
      >
        {{ serverErrors }}
      </p>

      <div class="flex items-center justify-between mt-4">
        <button
          @click="signUp"
          :disabled="loading"
          class="uppercase bg-green hover:shadow-lg text-white h-10 px-6 focus:outline-none transition"
          :class="{ 'animated pulse infinite': loading }"
        >
          Sign Up
        </button>

        <span class="text-xs">
          Already have an account?
          <router-link
            :to="{ name: 'log-in' }"
            class="text-green hover:underline"
          >
            Log in
          </router-link>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'

export default {
  name: 'SignUp',

  data () {
    return {
      loading: false,
      user: {
        name: '',
        email: '',
        password: ''
      },
      serverErrors: null
    }
  },

  methods: {
    ...mapMutations([
      'storeUser',
      'storeJWT',
      'storeRefreshToken'
    ]),

    signUp () {
      this.serverErrors = null
      this.$validator.validateAll().then(async result => {
        if (result) {
          try {
            this.loading = true
            const response = await axios.post('/users', this.user)

            axios.defaults.headers.common['x-access-token'] = response.data.jwt;
            this.storeJWT(response.data.jwt)
            this.storeRefreshToken(response.data.refresh_token)

            const user = await axios.get('/me')

            this.storeUser(user.data)

            this.$router.push({ name: 'my-ideas' })
          } catch (e) {
            this.serverErrors = e.response.data.reason || 'Try again later'
          } finally {
            this.loading = false
          }
        }
      })
    }
  },

  created () {
    const enterHandler = e => {
      if (e.key === 'Enter') {
        this.signUp()
      }
    }
    document.addEventListener('keydown', enterHandler)
    this.$once('hook:destroyed', () => {
      document.removeEventListener('keydown', enterHandler)
    })
  }
}
</script>
