<template>
  <modal-dialog
    :show="show"
    @close="close"
  >
    <div class="bg-white m-auto w-1/3 p-4 flex flex-col items-center shadow-2xl">
      <h1 class="text-3xl">
        Are you sure?
      </h1>

      <p class="my-12">
        This idea will be permanently deleted.
      </p>

      <div class="flex w-full justify-around">
        <button
          class="w-24 uppercase focus:outline-none"
          @click="close"
        >
          Cancel
        </button>

        <button
          class="w-24 uppercase text-green focus:outline-none"
          @click="deleteIdea"
          :disabled="deleting"
        >
          {{ deleting ? 'Deleting...' : 'Ok' }}
        </button>
      </div>
    </div>
  </modal-dialog>
</template>

<script>
import axios from 'axios'
import ModalDialog from './ModalDialog'

export default {
  name: 'DeleteIdeaModal',

  components: {
    ModalDialog
  },

  props: ['show', 'idea'],

  data () {
    return {
      deleting: false
    }
  },

  methods: {
    close () {
      this.$emit('close')
    },

    async deleteIdea () {
      this.deleting = true
      await axios.delete(`/ideas/${this.idea.id}`)
      this.$emit('idea-deleted')
      this.deleting = false
    }
  },

  created () {
    const enterHandler = e => {
      if (e.key === 'Enter' && this.show) {
        this.deleteIdea()
      }
    }
    document.addEventListener('keydown', enterHandler)
    this.$once('hook:destroyed', () => {
      document.removeEventListener('keydown', enterHandler)
    })
  }
}
</script>
