<template>
  <div class="flex items-end -mx-4 p-2">
    <div class="w-2 h-2 rounded-full bg-gray-500 mb-3 mx-2"></div>

    <input
      :disabled="!editing"
      class="flex-1 border-b h-10 mx-2 focus:outline-none transition"
      :class="[ errors.has('content') ? 'border-red-500' : 'border-gray-500 focus:border-black' ]"
      v-model="localIdea.content"
      v-validate="'required'"
      name="content"
      ref="content"
      @keydown.enter="saveIdea"
    >

    <div class="flex flex-col items-center w-20 px-2">
      <h4 class="mb-2">
        Impact
      </h4>
      <div class="relative self-stretch">
        <select
          v-model.number="localIdea.impact"
          class="w-full px-2 h-10 appearance-none focus:outline-none text-last-center"
          :class="{ 'bg-white': !editing }"
          :disabled="!editing"
        >
          <option
            v-for="i in 10"
            :key="`Impact-${i}`"
          >
            {{ i }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 text-gray-700"
          :class="{ 'hidden': !editing }"
        >
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center w-20 px-2">
      <h4 class="mb-2">
        Ease
      </h4>
      <div class="relative self-stretch">
        <select
          v-model.number="localIdea.ease"
          class="w-full px-2 h-10 appearance-none focus:outline-none text-last-center"
          :class="{ 'bg-white': !editing }"
          :disabled="!editing"
        >
          <option
            v-for="i in 10"
            :key="`Ease-${i}`"
          >
            {{ i }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 text-gray-700"
          :class="{ 'hidden': !editing }"
        >
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center w-20 px-2">
      <h4 class="mb-2">
        Confidence
      </h4>
      <div class="relative self-stretch">
        <select
          v-model.number="localIdea.confidence"
          class="w-full px-2 h-10 appearance-none focus:outline-none text-last-center"
          :class="{ 'bg-white': !editing }"
          :disabled="!editing"
        >
          <option
            v-for="i in 10"
            :key="`Confidence-${i}`"
          >
            {{ i }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 text-gray-700"
          :class="{ 'hidden': !editing }"
        >
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center  w-20 px-2 self-stretch">
      <h4 class="font-bold mb-2">
        Avg.
      </h4>
      <span class="h-10 w-full flex items-center justify-center rounded hover:bg-gray-250 transition-fast">
        {{ average }}
      </span>
    </div>

    <div
      v-if="editing"
      class="flex items-center mb-1"
    >
      <button
        class="focus:outline-none w-8 h-8 flex items-center justify-center"
        @click="saveIdea"
      >
        <img src="@/assets/confirm.png">
      </button>

      <button
        class="focus:outline-none w-8 h-8 flex items-center justify-center"
        @click="cancel"
      >
        <img src="@/assets/cancel.png">
      </button>
    </div>

    <div
      v-else
      class="flex items-center mb-1 opacity-0 hover:opacity-100 transition-fast"
    >
      <button
        class="focus:outline-none w-8 h-8 flex items-center justify-center"
        @click="edit"
      >
        <img src="@/assets/edit.png">
      </button>

      <button
        @click="showDeleteIdeaModal = true"
        class="focus:outline-none w-8 h-8 flex items-center justify-center"
      >
        <img src="@/assets/delete.png">
        <delete-idea-modal
          :idea="idea"
          :show="showDeleteIdeaModal"
          @close="showDeleteIdeaModal = false"
          @idea-deleted="ideaWasDeleted"
        >
        </delete-idea-modal>
      </button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import DeleteIdeaModal from '@/components/DeleteIdeaModal'

export default {
  components: {
    DeleteIdeaModal
  },

  props: ['idea'],

  data () {
    return {
      editing: true,
      localIdea: {
        content: '',
        impact: 10,
        ease: 10,
        confidence: 10,
      },
      showDeleteIdeaModal: false
    }
  },

  computed: {
    average () {
      const s = [this.localIdea.impact, this.localIdea.ease, this.localIdea.confidence].filter(Boolean).length
      return s ? Math.round((this.localIdea.impact + this.localIdea.ease + this.localIdea.confidence) / s * 100) / 100 : 0
    }
  },

  watch: {
    idea: {
      handler: function (val) {
        if (val) {
          this.localIdea = Object.assign({}, val)
          this.editing = false
        }
      },
      immediate: true
    }
  },

  methods: {
    saveIdea () {
      this.$validator.validateAll().then(async result => {
        if (result) {
          try {
            this.saving = true
            await axios({
              method: this.idea ? 'put' : 'post',
              url: this.idea ? `/ideas/${this.idea.id}` : '/ideas',
              data: (({ content, impact, ease, confidence }) => ({ content, impact, ease, confidence }))(this.localIdea)
            })
            this.$emit('ideas-updated')
            this.$emit('adding-closed', false)
          } catch (e) {
            console.log(e)
          } finally {
            this.saving = false
          }
        }
      })
    },

    edit () {
      this.editing = true
      this.$refs.content.focus()
    },

    cancel () {
      this.editing = false
      this.idea && (this.localIdea = this.idea)
      !this.idea && this.$emit('adding-closed', true)
    },

    ideaWasDeleted () {
      this.showDeleteIdeaModal = false
      this.$emit('ideas-updated')
    }
  },

  created () {
    const escapeHandler = e => {
      if (e.key === 'Escape') {
        this.cancel()
      }
    }
    document.addEventListener('keydown', escapeHandler)
    this.$once('hook:destroyed', () => {
      document.removeEventListener('keydown', escapeHandler)
    })
  }
}
</script>
