<template>
  <portal
    to="modals"
    v-if="show"
  >
    <div class="fixed flex inset-0 w-screen h-screen overflow-scroll z-50 bg-backdrop">
      <slot></slot>
    </div>
  </portal>
</template>

<script>
export default {
  name: 'ModalDialog',

  props: ['show'],

  watch: {
    show: {
      immediate: true,
      handler: show => {
        if (show) {
          document.body.style.setProperty('overflow', 'hidden')
        } else {
          document.body.style.removeProperty('overflow')
        }
      }
    }
  },

  methods: {
    close () {
      this.$emit('close')
    }
  },

  created () {
    const escapeHandler = e => {
      if (e.key === 'Escape' && this.show) {
        this.close()
      }
    }
    document.addEventListener('keydown', escapeHandler)
    this.$once('hook:destroyed', () => {
      document.removeEventListener('keydown', escapeHandler)
    })
  }
}
</script>
