@tailwind base;

@tailwind components;

@tailwind utilities;

.transition {
  transition: all .5s ease;
}

.transition-fast {
  transition: all .1s ease;
}

.text-last-center {
  text-align-last: center;
}
