<template>
  <div
    id="app"
    class="antialiased text-black"
  >
    <router-view/>

    <portal-target name="modals">
    </portal-target>
  </div>
</template>

<script>
export default {
  name: 'MyIdeaPool'
}
</script>
