<template>
  <div class="flex min-h-screen">
    <div class="w-64 bg-green flex flex-col items-center">
      <div class="flex flex-col items-center border-b border-white px-4 pb-4">
        <img
          src="@/assets/logo.png"
          class="mt-8 mb-4 h-16 w-16"
        >
        <h1 class="text-white">
          My Idea Pool
        </h1>
      </div>

      <div
        class="flex flex-col items-center"
        v-if="isLoggedIn"
      >
        <img
          :src="user.avatar_url"
          class="mt-4 mb-2 h-16 w-16 rounded-full"
        >

        <h1 class="text-white">
          {{ user.name }}
        </h1>

        <button
          class="mt-8"
          @click="logout"
        >
          Log out
        </button>
      </div>
    </div>

    <div class="flex-1">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Default',

  computed: {
    ...mapState([
      'user'
    ]),

    ...mapGetters([
      'isLoggedIn'
    ])
  },

  methods: {
    ...mapMutations([
      'clearUser',
      'clearJWT',
      'clearRefreshToken'
    ]),

    logout () {
      this.clearUser()
      this.clearJWT()
      this.clearRefreshToken()
      window.location = '/'
    }
  }
}
</script>
